version: '3.1'
services:
  predictor-backend:
#    build: .
    image: vfrico/dbpedia-mappings-backend
    ports:
     - "8080:8080"
     - "8181:8181"
     - "4848:4848"
    depends_on:
     - sqldb
    volumes:
     - ./resources:/home/vfrico
    environment:
      MYSQL_HOSTNAME: sqldb
      JAVA_TOOL_OPTIONS: -Dfile.encoding=UTF-8
      SPARQL_ENDPOINT_URI: http://104.155.47.73:8890/sparql

  webapp:
    image: vfrico/dbpedia-mappings-webapp
    ports:
      - "3000:3000"
    depends_on:
      - predictor-backend
    environment:
      REACT_APP_API_URL: http://104.155.47.73:8080/predictor/webapi

  sqldb:
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: example
    ports:
      - "3306:3306"

  adminer:
    image: adminer
    restart: always
    ports:
      - 8081:8080

